body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

#todoApp {
  padding-top: 50px;
}

/* COMMON */

.container-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.center-items {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content:space-between;
}

/* COLOURS */

.main-colour {
  color: #001533;
}


/* TYPOGRAPHY */

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}


#add-element {
  border-radius: 10px;
  padding:10px 20px;
  margin:25px 5px;
}

#input-element {
  width: 400px;
  border-radius: 10px;
  margin:25px 5px;
  padding: 0 20px;
  font-size: 1.7rem;
}

.card {
  border-bottom: 1px solid #dadee1;
  padding: 10px;
  margin: 10px 0;
  height: 50px;
  width: 90%;
  font-size: 1.9rem;
}

.activeEl {
  background-color: #00e165;
  border-radius: 10px;
}

.logo {
  width:400px;
  margin-bottom: 20px;
}

.container-cards {
  background-color: #f5f7f7;
  border-radius: 10px;
  padding: 0 25px;
  width: 650px;
  margin: 25px 0;
}
